h1{
    border: 10px solid grey;
    background-color: blue;
    color: white;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 5px;
}

p{
    background-color: orange;
    text-align: center;
    font-size: 30px;
   
}
.learn{
    width: 60%;
    margin-left: 20%;
    margin-right: 10px;
}
#pfour{
    display: none;
}